@import "../misc.scss";

.top-search-container {
  width: calc(100% - 32px);
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  flex-direction: column;
  background-color: var(--color-section);
  display: grid;
  gap: 8px;
  @include soft-shadow;

  @include media-screen-min($break-desktop) {
    grid-template-columns: minmax(auto, 340px) auto minmax(auto, 400px) !important;
    grid-template-rows: 32px !important;
  }

  @include media-screen-max($break-desktop) {
    grid-template-columns: auto;
    grid-template-rows: 32px 32px;
  }

  .title {
    background-image: url(../../../assets/images/logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include media-screen-max($break-desktop) {
      display: none;
    }
  }

  .top {
    display: grid;
    grid-template-columns: 24px auto 70px 24px;
    gap: 8px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .topnav-item {
      cursor: pointer;
      color: var(--color-text);
      min-width: 64px;
      text-align: center;
      line-height: 40px;
      opacity: 0.5;
      -webkit-transition: all 0.1s ease-in-out;

      &:hover {
        background-color: var(--color-background-hover);
        opacity: 1;
      }
    }
  }
}

.top-input-container {
  input {
    background: none;
    border: none;
    height: 24px;
    width: 100%;
    margin: 0;
    padding: 0 4px;
  }

  .top-input-icon {
    width: 20px;
    height: 20px;
    margin: auto 0;
  }

  background: var(--color-background);
  border: 1px solid var(--color-background);
  border-radius: 4px;
  width: -webkit-fill-available;
  margin: auto;
  color: var(--color-text);
  padding: 0 4px;
  height: 24px;
  display: flex;
  margin: auto 4px;
}

.top-input {
  background: var(--color-background);
  border: 1px solid var(--color-separator);
  border-radius: 24px;
  height: 24px;
  width: -webkit-fill-available;
  margin: auto;
}
