@import "../misc.scss";

.teacher-bot-top {
  cursor: pointer;
  /*width: -webkit-fill-available;*/
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  background-color: var(--color-face-blue);
  border-radius: 3px 3px 0px 0px;
  margin: auto 1vw 0px 1vw;
  display: flex;
  @include disable-select;

  .face {
    width: 20px;
    height: 20px;
  }

  .points {
    color: var(--color-text-dark);
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
  }
}
