@import "../../misc.scss";

.tree-folder-container {
  display: flex;
  flex-direction: column;
  height: 16px;
  overflow: hidden;
  -webkit-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1);
  @include animated;
  @include disable-select;
}

.tree-folder {
  display: flex;
  height: 18px;
  cursor: pointer;
  padding: 2px 0px 2px 2px;
  @include animated;
  @include disable-select;

  &.selected {
    background-color: var(--color-section-hover);
  }

  &.open {
    color: var(--color-green);
  }

  .folder-drop {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    display: flex;
    @include animated;
    @include disable-select;

    &.open {
      transform: rotate(0deg);
    }
  }

  .folder-name {
    font-size: 13px;
    line-height: 18px;
    margin-left: 4px;
  }
}

.tree-item-container {
  display: flex;
  height: 18px;
  cursor: pointer;
  padding: 2px 0px 2px 2px;
  @include animated;
  @include disable-select;

  &.selected {
    background-color: var(--color-section-hover);
  }

  &.open {
    color: var(--color-text-active);
  }

  .item-icon-tree {
    width: 16px;
    height: 16px;
    display: flex;
  }

  .item-name {
    font-size: 13px;
    line-height: 18px;
    margin-left: 4px;
  }

  .item-trigger {
    width: 14px;
    height: 14px;
    margin: auto 4px auto auto;
    display: flex;
  }
}

.tree-folder:hover,
.tree-item-container:hover {
  background-color: var(--color-section-hover);
}
