@import "../../misc.scss";

.tree-folder-container {
  border-left: 1px solid var(--color-separator);
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  padding-left: 4px;
  height: 16px;
  overflow: hidden;
  -webkit-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1);
  @include animated;
}

.tree-folder {
  display: flex;
  height: 18px;
  cursor: pointer;
  padding: 2px 0;
  @include animated;

  .folder-drop {
    width: 16px;
    height: 7px;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/images/icon_show.png");
    transform: rotate(-90deg);
    background-position: center;
    margin: auto 0;
    @include animated;

    &.open {
      transform: rotate(0deg);
    }
  }

  .folder-name {
    font-size: 14px;
    line-height: 18px;
    margin-left: 4px;
  }
}

.tree-item-container {
  display: flex;
  height: 18px;
  cursor: pointer;
  padding: 2px 0;
  @include animated;

  .item-icon {
    width: 16px;
    height: 16px;
  }

  .item-name {
    font-size: 14px;
    line-height: 18px;
    margin-left: 4px;
  }

  .item-trigger {
    width: 16px;
    height: 16px;
  }
}

.tree-folder:hover, .tree-item-container:hover {
  background-color: var(--color-section-hover);
}
