@import "../../misc.scss";

.tree-folder-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1);
  @include animated;
  @include disable-select;
}

.tree-folder.selected .folder-name{
  color: var(--color-text) !important;
}

.tree-folder {
  display: flex;
  font-family: "Segoe UI";
  align-items: center;
  height: 27px;
  cursor: pointer;
  background: #2e2a48;
  margin: 1.5px 3px;
  border-radius: 3px;
  padding: 2px 0px 2px 2px;
  @include animated;
  @include disable-select;

  &.hover {
    cursor: pointer;
  }

  &.selected {
    border-radius: 3px;
    background: #363252;
  }

  &.open {
    // color: var(--color-magenda);
  }

  .folder-drop {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    display: flex;
    margin-left: 5px;
    @include animated;
    @include disable-select;

    &.open {
      transform: rotate(0deg);
    }
  }

  .folder-name {
    color: var(--color-magenda);
    font-size: 13px;
    line-height: 18px;
    margin-left: 4px;
  }
}

.tree-loading {
  position: relative;
  overflow: hidden;
  opacity: 0.66;
  @include animated;
}

.tree-loading::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #2f3136 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.tree-item-container {
  display: flex;
  height: 27px;
  background: #2e2a48;
  align-items: center;
  cursor: pointer;
  margin: 1.5px 3px;
  padding: 2px 10px 2px 2px;
  border-radius: 3px;
  @include animated;
  @include disable-select;

  &.selected {
    border-radius: 3px;
    background-color: #363252;
  }

  &.open {
    color: var(--color-magenda);
  }

  .item-icon-tree {
    width: 16px;
    height: 16px;
    display: flex;

    // svg {
      // filter: drop-shadow(0px 0px 5px #e85fcf);
    // }
  }

  .item-name {
    font-size: 13px;
    line-height: 18px;
    margin-left: 10px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
  }

  .item-trigger {
    width: 14px;
    height: 14px;
    margin: auto 4px auto auto;
    display: flex;
  }
}

.tree-folder:hover,
.tree-item-container:hover {
  background-color: var(--color-button);
}

.drag-target {
  border-top: 2px dotted var(--color-background-hover);
  padding-top: 0px;
}

.shadow-blue {
  svg {
    filter: drop-shadow(0px 0px 5px #00fef6);
  }

  .button-round:hover {
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s ease;
    // filter: drop-shadow(0px 0px 4px #00fef6);
  }
}
