.paper {
    padding: 16px 32px 24px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    background-color: #fff;
}

.selectable {
    &:hover {
        cursor: pointer;
        background-color: gray;
    }
}

.background-red {
    background-color: #ef5350;
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.details > * {
    margin: 1em;
}

.group-form {
    margin: 1em;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
}

.description {
    font-size: 1.2em;
}

.margin-top {
    margin-top: 1em;
}

.list-container {
    display: flex;
    flex-direction: column;
    min-height: 0;

    ul {
        flex-grow: 1;
        overflow-y: auto;
        min-height: 0;
    }

    button {
        color: black !important;

        &[class*='Mui-selected'],
        &.send-button {
            color: white !important;
        }

        &.send-button {
            margin-left: 10px;
        }
    }

    &[class*=MuiDrawer-paperAnchorRight] {
        background-color: rgb(155, 155, 155, 0.6);
    }
}

.invite {
    [class*='MuiListItemText-root'] {
        word-break: break-word !important;

        span {
            font-size: 14px;
        }
    }

    button {
        margin: 0 5px;
    }
}

.invite-text {
    fieldset {
        border-color: rgba(40, 40, 40, 0.8);
    }
}

.rightDrawerAccordion {
    background-color: rgb(20, 20, 20, 0.8);

    & > div {
        color: white;
        background-color: rgb(150, 150, 150, 0.8);
    }
}

.group-select,
.friend-select {
    min-width: 100px !important;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.sub-header {
    text-align: center;
    padding: 0.5em;
}

.username {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;

    .send-button {
        margin-right: 10px;
    }
}

.location-grid {
    & > li {
        border: 1px solid gray;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            background-color: darkgoldenrod;
        }
    }
}

.friend-selector {
    color: white !important;
}

.target-type {
    margin-bottom: 10px;
}

.close-button {
    position: fixed;
    right: 8px;
    top: 8px;
    background-color: darken(red, 10%);
    border-radius: 50px;
    padding: 2px;

    &:hover {
        cursor: pointer;
        background-color: darken(red, 20%);
    }
}

.color-white {
    color: white !important;
}