.settings-popup-inner {
    background-color: var(--color-section);
    color: var(--color-text);
    font-size: 13px;
    margin: 10px 0 10px 10px;
    border-radius: 15px;
    padding: 10px 10px 8px 10px;
}

.prveiw-fx {
    pointer-events: none;
    width: 355px;
    height: 355px;
}
.settings-popup-options {
    margin-top: 15px;
}
