.expandMenu {
    width: 110px;
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    margin: 10px 0 10px -20px;

    button {
        background: transparent;
        border: none;
        color: white;
        width: 24px;
        padding: 0;
    }
    button:hover, button:focus { outline: none; color: #fffa !important; }
    button.expanded { transform: rotate(90deg); }
    @media (max-width: 768px) { display: none; }
}
