.topnav-container {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #8ca1b773;
  background-color: var(--color-background);
  z-index: 10;

  .topnav-navs-container {
    width: max-content;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: center;
  
    .topnav-item {
      cursor: pointer;
      color: var(--color-text);
      min-width: 64px;
      text-align: center;
      line-height: 40px;
      opacity: 0.5;
      -webkit-transition: all .1s ease-in-out;
    
      &:hover {
        background-color: var(--color-background-hover);
        opacity: 1;
      }
    }
  }
    
  .topnav-indicator-container {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 2px;

    .topnav-indicator {
      width: 64px;
      height: auto;
      margin-right: auto;
      background-color: var(--color-blue);
    }
  }
}

