$mobileControllButtonsSize:3em;
.stickLeft{
    position: fixed;
    bottom: 50px;
    width: 50%;
    left: 0;   

    .nipple{
        .front{
            box-shadow: 0 0 10px rgba(255,255,0,1);
        }
    }
}
    
    

.controlButtonContainer{
    position: fixed;
    border-radius: 50%;
    right: 75px;
    bottom: 100px;
    line-height: ($mobileControllButtonsSize+1em);

    .controllButton{
        position: absolute;
        border-radius: 50%;
        background:rgba(255,255,255,0.4);
        opacity: 0.75;
        bottom: 20px;
        font-size: 20px;
        height: $mobileControllButtonsSize;
        width: $mobileControllButtonsSize;
        text-align: center;
        border: 1px solid #ffffff;
        > svg {
            height: 2em;
        }
        &.availableButton{
            opacity: 1;
            border: 1px solid #ffff00;
            box-shadow: 0 0 10px rgba(255,255,0,1);
        }

        &.notAvailableButton{
            opacity: 0;
        }
    }
}
