language: node_js

services:
  - docker

node_js:
  - '12'

dist: trusty
sudo: required
services:
  - xvfb

addons:
  chrome: stable
  hostname: localhost

before_script:
  - export DISPLAY=:99.0

before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

env:
  global:
  - ELECTRON_CACHE=$HOME/.cache/electron
  - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
cache: npm

filter_secrets: false

jobs:
  include:
    - stage: Tests
      os: Linux
      env: YARN_GPG=no
      script:
        - cd openworld-desktop
        - npm install
        - npm run build:web
        - npm run react-build
        - 'npm run test:all || (node ./upload-vrt.js && exit 1)'

