language: node_js

services:
  - docker

node_js:
  - '12.14.0'

install:
  - npm install

env:
  global:
  - ELECTRON_CACHE=$HOME/.cache/electron
  - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

filter_secrets: false

addons:
  hostname: localhost

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL

jobs:
  include:
    - stage: Tests
      os: windows
      env: YARN_GPG=no
      script:
        - npm run semantic-release-dry
        - npm run test:all || travis_terminate 1
    - stage: Build
      os: windows
      env: YARN_GPG=no
      script:
        - npm run electron-rebuild
        - npm run pre-build-iohook-win
        - npm run build
        - node ./rm-unpacked.js
    - stage: Release
      os: windows
      env: YARN_GPG=no
      deploy:
        on:
          all_branches: true
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release || travis_terminate 1