@import "../misc.scss";

.discover-list {
  @include media-screen-min(400px) {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  }

  @include media-screen-max(400px) {
    display: flex;
    flex-direction: column;
  }
}

.discover-separator {
  display: grid;
  grid-template-columns: minmax(auto, 400px) minmax(180px, auto);
  gap: 8px;
}