.icon-button {
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.avatar-icon {
  width: 32px;
  height: 32px;
  margin: auto 8px auto 2px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0,0,0,0.25);
  background-size: cover;
  background-position: center;
}

.button-round {
  cursor: pointer;
  background-color: var(--color-section);
  border-radius: 16px;
  display: flex;

  .svg-icon {
    margin: auto;
    fill: var(--color-background);
  }

  &:hover {
    background-color: var(--color-section-hover);
  }
  &:active {
    opacity: 0.5;
  }
}

.button-simple {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-section-inner);
  border-radius: 500px;
  border: 1px solid var(--color-background);
  padding: 8px;

  &:hover {
    background-color: var(--color-section-inner-hover);
  }
  &:active {
    border: 1px solid black;
    background-color: var(--color-section-inner);
  }
}