
.popup-modal {
  display: flex;
  margin: 16px auto auto auto;
  width: -webkit-fill-available;
  justify-content: center;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;

  .modal-yes {
    cursor: pointer;
    color: var(--color-checked);
    width: 40%;
    border-radius: 4px;

    &:hover {
      background-color: var(--color-section-inner-hover);
    }
    &:active {
      background-color: var(--color-section-inner);
    }
  }

  .modal-no {
    cursor: pointer;
    width: 40%;
    border-radius: 8px;

    &:hover {
      background-color: var(--color-section-inner-hover);
    }
    &:active {
      background-color: var(--color-section-inner);
    }
  }
}