.video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    display: flex;
    width: 200px;
    height: 150px;
    margin: 10px;
    border: solid black 2px;
    text-align: center;

    &:hover {
        background-color: gray;
        cursor: pointer;
    }
}