.support-ticket-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution-container {
  padding: 20px;
  display: flex;
  height: 100%;

  textarea {
    background: #211b33;
    height: 30px;
    color: #b8d4f3;
    margin: 10px;
    margin-left: 0;
    border-radius: 3px;

    word-wrap: break-word;
    word-break: break-all;
  }
}

.solution-category {
  width: 30%;
  border-right: 1px solid #585286;
  font-size: 14px;
}

.solution-search {
  width: 100%;
  height: 100%;
  color: #8a88c3;
  position: relative;
  overflow-y: scroll;
  .solution-wrapper {
    padding: 0 20px;
  }

  a {
    display: block;
    color: #0898eb;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .request-count {
    font-weight: bold;
    font-size: 12px;
    color: #c2c2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sort-filter {
    display: flex;
    align-items: center;

    select {
      display: block;
      background: #211b33;
      height: 32px;
      border: 0;
      color: #b8d4f3;
      padding: 0 20px;
      margin: 0 10px;
      outline: 0;
      width: 100px;
      border-radius: 4px;
      -webkit-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: 10px;
      background-image: url("../../../../../assets/svg/chevron-down.svg");
    }
  }

  .solution-list > div:nth-child(1) {
    margin-top: 15px;
  }

  .solution-list {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }

  .single-query {
    border-top: 1px solid #585286;
    display: flex;
    align-items: center;
    padding-left: 10px;

    .voting {
      float: left;
    }

    .content {
      margin: 15px 20px;
      width: 80%;
      max-width: 360px;

      .query {
        font-weight: bold;
        color: #c2c2c2;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .description {
        font-weight: normal;
        color: #8a88c3;
        font-size: 13px;
        margin: 10px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .member-count {
        font-weight: bold;
        color: #7f7eb6;
        font-size: 13px;
      }
    }
    .timestamp {
      font-size: 12px;
      color: #8a88c3;
      font-size: 12px;
    }
  }

  .query-title {
    font-size: 22px;
    color: #c2c2c2;
    border-bottom: 1px solid #585286;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .white {
    display: inline-block;
    color: #c2c2c2;
    margin-top: 10px;
  }

  .purple {
    display: inline-block;
    color: #8a88c3;
  }

  .blue {
    color: #04aff0;
    display: inline-block;
  }

  .border-bottom {
    padding: 15px 0;
    border-bottom: 1px solid #585286;
  }

  span {
    display: block;
  }

  ul {
    list-style: none;
  }

  li {
    margin: 10px 0;
  }

  .list-arrow li:before {
    content: "";
    position: absolute;
    border-right: 2px solid #7d7ab0;
    border-bottom: 2px solid #7d7ab0;
    margin-top: 13px;
    width: 6px;
    height: 6px;
    left: 35px;
    transform: translateY(-50%) rotate(-45deg);
  }

  .suggest-solution {
    padding: 0 20px;
    .title {
      font-size: 16;
      font-weight: bold;
      color: #c2c2c2;
      padding: 0;

      .purple {
        display: block;
        margin-top: 10px;
        font-weight: 500;
      }
    }
    .AI-suggestion {
      list-style-type: none;
      padding-left: 0px;
      li {
        list-style-type: none;
        position: unset;
        color: #b8d4f3;
        cursor: pointer;
        padding: 8px;
        border-radius: 25px;
        transition: all 0.5s;
        &:hover {
          background-color: #211b33;
          transform: scale(1.05);
        }
        &::before {
          background-color: #211b33;
        }
      }
    }

    ul {
      list-style: disc;
    }

    ul li:before {
      position: unset;
      border: 0;
    }

    textarea {
      height: 200px;
    }

    .help-buttons {
      margin-top: 25px;
      button {
        padding: 10px 42px;
        margin-right: 25px;
        color: #c2c2c2;
        border-radius: 4px;
        background: #323052;

        &:hover {
          cursor: pointer;
        }
      }

      button:last-child {
        background: #0898eb;
        color: #2d2a44;
      }
    }
  }

  .progress {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    span {
      color: #c2c2c2;
    }
    .blue-bar {
      background: #04aff0;
      border-radius: 2px;
      height: 20px !important;
      width: 300px;
    }

    .pink-bar-progress {
      height: 20px;
      background: #d130b5;
      border-radius: 2px;
    }
  }

  .solution-images {
    margin: 20px 0;

    img {
      width: 100%;
      margin: 15px 0;
      height: 100%;
    }
  }

  hr {
    background-color: #585286;
    height: 2px;
    border: 0;
    margin: 30px 0;
  }
}
