.fullPage{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    text-align: center;
    .subWrapper{
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        padding: 20px;

        .placeholder{
            flex-grow: 1;
        }

        .step_0{
            position: fixed;
            box-sizing: border-box;
            top: 95%;
            left: 50%;
            width: 100%;
            padding: 20px;
            transform: translate(-50%, -95%);
        }

        .step_1{
            position: fixed;
            box-sizing: border-box;
            top: 20%;
            left: 50%;
            width: 100%;
            padding: 20px;
            transform: translate(-50%, -20%);
            display: flex;
            flex-grow: 0;
            flex-direction: column;
            height: inherit;            
            .image{
                height: 370px;
                width: 295px;
                margin: 0 auto;
            }
        }
        .step_2{
            position: fixed;
            box-sizing: border-box;
            top: 20%;
            left: 50%;
            width: 100%;
            padding: 20px;
            transform: translate(-50%, -20%);
            display: flex;
            flex-grow: 0;
            flex-direction: column;
            height: inherit;            
            .image{
                height: 499px;
                width: 296px;
                margin: 0 auto -20px auto;
            }
            button{
                min-width: 0;
                width: auto;
                position: fixed;
                left: 95%;
                transform: translate(-95%);
            }
        }
    }   
}
