.button-checked {
  background-image: url("../../../../assets/images/pink-checked.png");
  width: 43px;
  height: 50px;
  background-repeat: no-repeat;
}

.selector-panel-container {
  background: linear-gradient(180deg, #272035 0%, #3d385d 6.7%, #3f3b60 94.1%, #261f34 100%);
  display: flex;
  flex-direction: column;
  padding: 10px;

  .panel-subtitle {
    margin: 16px 0;
  }

  .panel-title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
  }

  .panels-flex {
    display: flex;
    // overflow: auto;

    .panel {
      padding: 0 16px;
      width: min-content;
      overflow: auto;
      height: 85vh;
      border-right: 2px solid #585286;

      input {
        margin: 5px 0;
        background: #211b33 !important;
      }
    }

    .panel-wide {
      padding: 16px;
      min-width: 300px;
      width: min-content;
      overflow: auto;

      .skill-chips {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1em;
      }

      .skill-chip {
        border: 2px solid #b8d4f3;
        border-radius: 4px;
        margin: 10px 10px 5px 0px;
        padding: 2px 1em;
      }
    }
  }
}
