.button-checked {
  background-color: var(--color-pink);
  width: 18px;
  height: 18px;
  border-radius: 500px;
}

.selector-panel-container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .panel-subtitle {
    margin: 16px 0;
  }

  .panel-title {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 16px;
    line-height: 16px;
  }
  
  .panels-flex {
    display: flex;
    overflow: auto;
  
    .panel {
      padding: 16px;
      width: min-content;
      overflow: auto;
      border-right: 1px solid var(--color-background-hover);
    }

    .panel-wide {
      padding: 16px;
      min-width: 300px;
      width: min-content;
      overflow: auto;
      border-right: 1px solid var(--color-background-hover);
    }
  }  
}
