.selector-panel-container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .panel-subtitle {
    margin: 16px 0;
  }

  .panel-title {
    padding: 16px;
  }
  
  .panels-flex {
    display: flex;
  
    .panel-a {
      padding: 16px;
    }
    
    .panel-b {
      padding: 16px;
    }
  }  
}
