@import '../components/misc.scss';

.popup-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000085;
  display: flex;
  z-index: 4;

  .popup-box {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    min-width: 100px;
    min-height: 100px;
    margin: auto;
    background-color: var(--color-section);
    max-width: calc(100% - 16px);
    max-height: calc(100% - 128px);
    overflow: auto;
    position: relative;
    top: 47px;
  }
}

.dropdown-container {
  position: absolute;
  width: 200px;
  background-color: #2f3136;
  padding: 8px;
  margin-top: 74px;
  border-radius: 0 0 5px 5px;
  left: calc(50% - 100px);
  z-index: 15;
  box-shadow: 0px 12px 10px 2px #0000004a;

  .option {
    height: 24px;
    line-height: 24px;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 8px;
    background-color: var(--color-button);
    margin: 4px;
    @include animated;

    &:hover {
      background-color: var(--color-section-hover);
    }
  }
}
