@import "../misc.scss";

@mixin item-base {
  background-color: var(--color-section);
  width: inherit;
  height: inherit;
  position: absolute;
  touch-action: none;
  left: 0px;
  top: 0px;
}

@mixin item-solid {
  @include soft-shadow;
}