.userWidget {
    position: fixed;
    right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    z-index:1000;
    margin-left: auto;
}

.flex {
    display: flex;
    align-items: center;
}

.loginButton {
    color: white;
}

.logoutButton {
    color: white;
}