.sidebar-controls-container {
  width: 100%;
  position: relative;

  .buttons {
    display: flex;
    -webkit-app-region: no-drag;
    text-align: center;
    line-height: 24px;
    height: 24px;
    width: 60px;
    margin: auto auto auto 4px;
    justify-content: space-between;

    .maximize,
    .minimize,
    .pin,
    .close {
      width: 20px;
      height: 100%;
      display: flex;

      width: 20px;
      height: 100%;
      display: flex;
      cursor: auto;

      svg {
        margin: auto;
      }
    }

    .pin {
      &.active {
        background-color: var(--color-button);
      }
    }

    .pin:hover,
    .minimize:hover,
    .maximize:hover {
      background-color: var(--color-button);
      cursor: pointer;
    }

    .close:hover {
      background-color: var(--color-red);
      cursor: pointer;
    }
  }

  .logo {
    background-image: url("../../../../assets/images/sidebar-logo.png");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #3f3b60;
  }
}
