@import "../../misc.scss";
@import "../../lesson-player/index.scss";
@import "../../lesson-player/find-box/index.scss";

.video-preview-container-out {
  background-color: white;
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%), 
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size:25px 25px; /* Must be a square */
  background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */

  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 5px;
  @include disable-select;
}

.video-preview-container {
  width: auto;
  height: auto;
  display: table;
  @include disable-select;

  .horizontal-pos {
    width: 100%;
    height: 0px;
    border-top: dotted 2px var(--color-section-separator);
    position: absolute;
    display: none;
  }

  .vertical-pos {
    width: 0px;
    height: 100%;
    border-left: dotted 2px var(--color-section-separator);
    position: absolute;
    display: none;
  }

  .video-preview-no-video {
    width: 1920px;
    height: 1080px;
    font-size: 30px;
    font-weight: 500;
    background-color: var(--color-background);
    color: var(--color-background-hover);
    text-align: center;
    line-height: 1080px;
    margin: auto;
    position: inherit;
  }

  .video-preview-video {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    /*
    max-height: -webkit-fill-available;
    height: inherit;
    */
    position: inherit;
  }

  .item-image {
    @include item-base;
  }

  .item-video {
    @include item-base;
  }

  .item-focus_highlight {
    @include item-base;
    @include find-boxes;
  }

  .item-audio {
    @include item-base;
  }
}