@import "../../misc.scss";
@import "../../lesson-player/index.scss";
@import "../../lesson-player/find-box/index.scss";

.video-preview-container-out {
  background-size: 25px 25px; /* Must be a square */
  background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */

  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 5px;
  @include disable-select;
}

.zoom-container {
  position: absolute;
  width: 200px;
  height: 32px;
  text-align: center;
  left: calc(50% - 100px);
  background: var(--color-button);
  border-radius: 0 0 4px 4px;
  z-index: 10;
}

.video-preview-container {
  width: auto;
  height: auto;
  display: table;
  touch-action: none;
  @include disable-select;

  .horizontal-pos {
    left: 0px;
    width: 100%;
    height: 0px;
    border-top: dotted 2px var(--color-section-separator);
    position: absolute;
    display: none;
  }

  .vertical-pos {
    top: 0px;
    width: 0px;
    height: 100%;
    border-left: dotted 2px var(--color-section-separator);
    position: absolute;
    display: none;
  }

  .xy-pos {
    top: 0px;
    width: 0px;
    height: 100%;
    border: 1px solid gray;
    background: var(--color-section);
    position: absolute;
    display: none;
    width: 200px;
    height: 24px;
    border-radius: 2px;

    .xy-pos-text {
      text-align: center;
      margin: auto;
      font-size: 15px;
    }
  }

  .video-preview-no-video {
    width: 1920px;
    height: 1080px;
    font-size: 30px;
    font-weight: 500;
    background: var(--color-background-dark);
    color: var(--color-gray);
    text-align: center;
    line-height: 1080px;
    margin: auto;
    position: inherit;
  }

  .video-preview-video {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    box-shadow: 18px 18px 23px rgba(0, 0, 0, 0.322);
    /*
    max-height: -webkit-fill-available;
    height: inherit;
    */
    position: inherit;
  }

  .item-image {
    @include item-base;
  }

  .item-video {
    @include item-base;
  }

  .item-focus_highlight {
    @include item-base;
    @include find-boxes;
  }

  .item-audio {
    @include item-base;
  }
}
