@import "../../components/misc.scss";

.auth-container {
  display: flex;
  border-radius: 5px;
  overflow: auto;
  flex-direction: column;
  width: -webkit-fill-available;
  max-width: 400px;
  max-height: 100%;
  margin: auto;
  font-size: 18px;
  @include hard-shadow;

  fieldset {
    background-color: var(--color-section);
    border: 0;
    padding-block-end: 8px;
    padding-block-start: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-bottom: 16px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    min-inline-size: 0;
  }

  .input-container {
    margin: 8px 0;

    label {
      font-size: 15px;
      opacity: 0.75;
      margin-bottom: 8px;
      display: block;
    }
  }
}
