.splash-container {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  max-width: 360px;
  max-height: 750px;
  margin: auto;

  .splash-logo {
    width: calc(100% - 24px);
    display: flex;
    justify-content: center;
    margin: auto;

    img {
      width: 100%;
    }
  }

  .splash-video {
    width: calc(100% - 24px);
    height: calc(100% - 128px);
    border-radius: 20px;
    justify-content: center;
    overflow: hidden;
    display: flex;
    margin: 8px auto;

    video {
      object-fit: cover;
      display: block;
      height: 102%;
      margin: auto;
    }
  }

  .splash-button {
    width: calc(100% - 24px);
    height: 64px;
  }
}
