@import '../misc.scss';

.insert-media-icon {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  margin: auto;
}

.insert-media-container {
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--color-background);
  background-position: center;
  background-size: cover;
  @include animated;

  &:hover {
    background-color: var(--color-background-hover);
  }
}