@import "../misc.scss";

.tabs-content-container {
  border-radius: 3px;
  padding: 1.5px 0;
  // @include soft-shadow;
}

.tabs-tab-container {
  justify-content: space-between;
  display: flex;
  margin: 0 3px 0 3px;
  @include disable-select;
}

@mixin tabs-tab {
  text-align: center;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.tabs-tab {
  font-family: "Segoe UI";
  background-color: var(--color-background-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  @include tabs-tab;
}

.tabs-tab:hover {
  background-color: var(--color-background-hover);
}

.tabs-tab-selected {
  font-family: "Segoe UI";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #2e2a48;
  color: var(--color-text-active);
  @include tabs-tab;
}
