@import "../index.scss";

.image-box {
  @include item-base;
  @include item-solid;

  img {
    width: calc(100% - 20px);
    max-height: calc(100% - 64px);
    display: block;
    border-radius: 4px;
    background-color: var(--color-background);
    margin: 10px auto;
  }
}