@import "../index.scss";

.youtube-box {
  @include item-base;
  box-shadow: 18px 18px 23px rgba(0, 0, 0, 0.322);
  @include item-solid;

  iframe {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
  }
}