:global(.MuiSnackbar-root).namePlate{
    width: fit-content;
    height: fit-content;
    padding: 0px;
    min-width: 0px;
    text-align: center;
    transform: translate(-50%, -100%);
    bottom: unset;
}
