.messageContainer{
    position: fixed;
    width: 100vw;
    bottom: 90px;
    padding: 5px;
    background: #FFFFFF;

    .sendButton{
        padding: 10px;
        position: fixed;
        bottom: inherit;
        right: 0px;
    }
}