@import "../../components/misc.scss";

.auth-scroller {
  display: flex;
  width: 200%;
}

.auth-container {
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  max-height: 100%;
  margin: auto;
  font-size: 18px;

  fieldset {
    border: 0;
    padding-block-end: 8px;
    padding-block-start: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-bottom: 16px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    min-inline-size: 0;
  }

  .input-container {
    margin: 8px 0;

    label {
      font-size: 15px;
      opacity: 0.75;
      margin-bottom: 8px;
      display: block;
    }
  }

  .actions-container {
    margin-top: 16px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
      color: var(--color-text-active);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
