:root {
  --color-background: #202225;
  --color-section: #2F3136;

  --color-button: #36393F;
  --color-button-hover: #47494d;
  --color-text: #BBBBBB;
  --color-text-active: #FAA61A;
  --color-icon: #A8ABAF;

  --color-checked: #59D98F;
  --color-green: #59D98F;
  --color-red: #d97359;
  --color-blue: #47a2ff;

  --color-section-separator: #393C43;
  --color-section-separator-hover: #43464e;

  --color-section-hover: #444e58;
  --color-section-inner-hover: #2f3031;
  --color-background-hover: #43494c;
  --color-text-disabled: #808284;
  --color-text-dark: #242526;
  --color-separator:#6f6f6f;
}

body {
  display: flex;
  overflow: hidden;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 0px;
  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  border-style: none;
  -webkit-appearance: none;
  background-color: rgba(0,0,0,0);

  &:focus {
    outline: none;
  }
}

input, textarea {
  background: var(--color-background);
  border: 1px solid var(--color-background);
  border-radius: 4px;
  height: 24px;
  width: -webkit-fill-available;
  margin: auto;
  color: var(--color-text);
  padding: 0 8px;
}

textarea {
  padding: 8px;
}

input:active, input:focus, textarea:active, textarea:focus {
  border: 1px solid var(--color-background-hover);
  outline: none;
}

a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

#root {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content {
  overflow: auto;
  height: calc(100vh - 45px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #1b1c1d;
  margin-right: 2px;
}

::-webkit-scrollbar-thumb {
  background: #383a3c;
  border-radius: 8px;
  border-left: 1px solid #88999e59;
  border-right: 1px solid #000000b0;

  &:hover {
    background: #4f5152;
  }
}