@import "../index.scss";

.video-box {
  @include item-base;
  box-shadow: 18px 18px 23px rgba(0, 0, 0, 0.322);
  @include item-solid;

  img {
    width: calc(100% - 20px);
    display: block;
    border-radius: 4px;
    background-color: var(--color-background);
    margin: 10px auto;
  }
}