:global(.MuiSnackbar-anchorOriginBottomCenter).TooltipSnackBar{
    bottom: 30%;
    .innerHtml{
        display: flex;
        align-items: center;
        svg{
            height: 2em;
            width: 2em;
            margin: 0px 5px;
        }
        .keyItem{
            background-color: rgba(0,0,0,0.6);
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0,118,255,0.5);
            box-sizing: border-box;
            color: #FFFFFF;
            display: inline-block;
            height: 2em;
            line-height: 2em;
            margin: 3px;
            min-width: 2em;
            padding: 0px 5px;
            text-align: center;
            text-transform: capitalize;
        }    
    }
}
