@import "./misc.scss";

.icon-button {
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.avatar-icon {
  width: 32px;
  height: 32px;
  margin: auto 8px auto 2px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}

.button-round {
  cursor: pointer;
  background-color: #1b1f33;
  border-radius: 3px;
  display: flex;
  @include animated;
  @include disable-select;

  .svg-icon {
    margin: auto;
  }
}

.button-simple {
  font-family: "Segoe UI";
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  border-radius: 4px;
  padding: 8px;
  color: var(--color-text);
  @include animated;
  @include disable-select;

  &:hover {
    background-color: var(--color-background-hover);
  }
  &:active {
    background-color: var(--color-background);
  }

  &.disabled {
    background-color: var(--color-background-dark);
    cursor: auto !important;

    &:hover {
      background-color: var(--color-background-dark) !important;
    }
  }

  a {
    color: var(--color-text);
  }
}

.button-login {
  color: var(--color-text-dark);
  background-color: #6fb6ff;

  &:hover {
    background-color: #b7dbff;
  }
  &:active {
    background-color: #668eb7;
  }
}

@mixin check-container {
  width: 32px;
  height: 32px;
  position: absolute;
  background: #2e2a48;
  border-radius: 0px 6px;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  z-index: 1;
}

@mixin check {
  position: relative;
  width: 18px;
  height: 18px;
  margin: auto;
  border-radius: 500px;
  background-color: var(--color-background-hover);

  &.checked {
    background-image: url("../../assets/svg/pink-checked.svg");
    background-color: transparent;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
  }

  &:hover {
    background-color: var(--color-magenda);
  }
}
