@import "./misc.scss";

.inner {
  background: var(--color-background);
  border-radius: 8px;
  padding: 10px;
}

.mid {
  border-radius: 6px;
  background: var(--color-section);
  padding: 10px;
  margin: 10px;
  @include soft-shadow;
}

.mid-tight {
  border-radius: 3px;
  // background: var(--color-section);
  padding: 0 5px;
  margin: 0 5px;
  // @include soft-shadow;
}

.container-with-desc {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  width: -webkit-fill-available;
}

.container-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 18px;
}

.container-close {
  border-radius: 500px;
  display: flex;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    background: var(--color-section-hover);
  }
}
