.feedFormContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto 0;
    overflow: scroll;

    .previewImage{
        height: 210px;
    }

    .textArea{
        min-height: 100px;
    }
    .submit{
        display: block;
        margin: 0 auto;
    }
}