.splash-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  display: flex;

  .splash-shadow-top {
    width: 100%;
    height: 200px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  }

  .splash-shadow-bottom {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
  }

  .splash-logo {
    position: absolute;
    width: calc(100% - 24px);
    max-width: 400px;
    top: 32px;

    img {
      width: 100%;
    }
  }

  video {
    object-fit: cover;
    display: block;
    height: 102%;
    margin: auto;
  }

  .splash-elements {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 128px);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .splash-mute {
      margin: 8px;
      display: flex;
      position: absolute;
      bottom: 16px;
      right: 16px;
    }
  }

  .splash-button {
    width: 100%;
    position: absolute;
  }
}
