.super-spinner-wrapper {
  width: 100%;
  height: 100%;

  .super-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .spinner-container {
      width: 100%;
      height: calc(100% - 1em - 15px);
      position: relative;

      overflow: hidden;

      .spinner-image {
        background-image: url("../../../assets/images/logo-icon.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.15;
      }
    }
  }

  .super-spinner-text {
    font-size: 1em;
    font-weight: bold;
    color: #c2c2c2;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    text-align: center;

    span {
      animation: dots 1.4s infinite both;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

.rotate {
  animation: rotation 1.5s infinite ease;
}

.logo-2 {
  animation-delay: 3ms;
}

.logo-3 {
  animation-delay: 6ms;
}

.logo-4 {
  animation-delay: 9ms;
}

.logo-5 {
  animation-delay: 11ms;
}

.logo-6 {
  animation-delay: 14ms;
}
.logo-7 {
  animation-delay: 14ms;
}
.logo-8 {
  animation-delay: 14ms;
}
.logo-9 {
  animation-delay: 17ms;
}
.logo-10 {
  animation-delay: 20ms;
}
.logo-11 {
  animation-delay: 26ms;
}
.logo-12 {
  animation-delay: 29ms;
}
.logo-13 {
  animation-delay: 32ms;
}
.logo-14 {
  animation-delay: 35ms;
}
.logo-15 {
  animation-delay: 38ms;
}
.logo-16 {
  animation-delay: 41ms;
}
.logo-17 {
  animation-delay: 44ms;
}
.logo-18 {
  animation-delay: 47ms;
}
.logo-19 {
  animation-delay: 50ms;
}
.logo-20 {
  animation-delay: 53ms;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1077deg);
  }
}

@keyframes dots {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
