@import "../misc.scss";

.window-container {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  background: transparent; // For voltron
  // background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  @include mid-shadow;

  .title-bar {
    font-size: 14px;
    line-height: 37px;
    padding-left: 8px;
    height: 40px;
    background-image: linear-gradient(180deg, #29233c 0%, #2a243e 100%);
    touch-action: none;
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      align-content: center;
      color: #454055;
      font-size: 18px;
      font-family: "Segoe UI";
      text-transform: uppercase;
      font-weight: bold;
    }

    .buttons {
      display: flex;
      -webkit-app-region: no-drag;
      text-align: center;
      line-height: 24px;

      .minimize {
        width: 34px;
        height: 100%;
        display: flex;
        cursor: auto;
      }

      .maximize {
        width: 34px;
        height: 100%;
        display: flex;
      }

      .minimize:hover,
      .maximize:hover {
        background-color: var(--color-button);
        cursor: pointer;
      }

      .close {
        display: flex;
        width: 24px;
        height: 100%;
        cursor: auto;
        padding: 0 5px;
      }

      .close:hover {
        background-color: var(--color-red);
        cursor: pointer;
      }
    }
  }

  .window-content-container {
    height: calc(100% - 24px);
    overflow: hidden;
  }
}
