@mixin flex-collapse {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
}

.paper {
    padding: 16px 32px 24px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    background-color: #fff;
}

.selectable {
    &:hover {
        cursor: pointer;
        background-color: gray;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;

    & > div[class*='MuiPaper-root'] {
        padding: 5px;
        background-color: rgba(20, 20, 20, 1);
    }
}

.details > * {
    margin: 1em;
}

.group-form {
    margin: 1em;
}

.title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
}

.description {
    font-size: 1.2em;
}

.margin-top {
    margin-top: 1em;
}

.list-container {
    display: flex;
    flex-direction: column;
    min-height: 200px;

    //background-color: rgba(206, 206, 206, 0.1);

    ul {
        flex-grow: 1;
        overflow-y: auto;
        min-height: 100px;
        justify-content: flex-end;
        background-color: initial;

        button {
            background-color: rgba(206, 206, 206, 0.1);
        }
    }
}

.details-container {
    @include flex-collapse;

    .deleteConfirm {
        display: flex;

        & > button {
            width: 140px;

            &:first-child {
                margin-right: 10px;
            }

            &.background-red {
                background-color: #ef5350;
                color: white;
            }
        }
    }

    & > .list-container {
        overflow-y: auto;
    }

    .groupUserDeleteInit,
    .groupUserMakeOwnerInit {
        margin: 0 5px 0 auto;
        width: 40px;
    }

    .groupUserDeleteConfirm {
        display: flex;
        margin: 0 5px 0 auto;
        & > button {
            width: 40px;
            margin: 0 5px;
        }
    }

    .userConfirmButtons {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding-left: 5px;
        align-items: flex-end;

        & > button {
            font-size: 12px;
            max-width: 100px;
            margin-top: 0;
            margin-bottom: 5px;
            padding: 6px;
        }
    }

    .marginRight5px {
        margin-right: 5px;
    }
}

.backButton {
    width: 40px !important;
    background-color: rgba(206, 206, 206, 0.1);
}