.nested-comment {
  max-width: 100%;
  background-color: #222138;
  padding: 0px 0px 0px 8px;
  position: relative;
  display: flex;
  margin: 10px 0;

  > .nested-comment-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .profile {
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }
    > .side-line {
      width: 3px;
      border-radius: 25px;
      height: 100%;
      margin: 10px 0 0 0;
      background-color: #595778;
      text-align: center;
    }
  }
  > .nested-comment-info {
    width: 100%;
    > .comment-header {
      display: flex;
      align-items: center;

      > .profile {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
      }

      .general-info {
        align-self: flex-start;
        margin-left: 10px;
        > p {
          margin: 0;
        }
      }
      > .comment-buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    > .comment-content {
      margin-left: 10px;
      > .comment-actions {
        display: flex;
        align-items: center;
        cursor: pointer;

        > .comment-ranking {
          display: flex;
          justify-content: space-between;
          width: 80px;
          padding: 10px;
          background-color: #3e3c64;
          border-radius: 25px;

          span {
            font-size: 12px;
            margin-left: 6px;
            align-self: center;
          }
          svg {
            width: 20px;
            height: auto;
            fill: #8c8ac5;
            stroke: #8c8ac5;
          }
          .selected {
            fill: #d535b6;
            stroke: #d535b6;
          }
          > div {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          > .vote-division {
            width: 2px;
            min-height: 100%;
            border-radius: 25px;
            background-color: #8c8ac5;
          }
        }

        > .actions {
          margin-left: 20px;

          > svg {
            float: left;
            background-color: #3e3c64;
            border-radius: 50%;
            padding: 5px;
            width: 16px;
            height: 16px;
            margin-right: 5px;
          }
        }
      }

      .comment-reply {
        background-color: #34345a;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        border-radius: 10px;

        padding: 8px;
        > .profile {
          min-width: 40px;
          min-height: 40px;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
        }

        > input {
          border-radius: 25px;
          margin-left: 20px;
        }

        > .send-comment {
          background-color: #0898eb;
          margin-left: 20px;
          width: 150px;
          border-radius: 25px;
          height: 30px;
        }
      }
    }
  }
}
