.groups-page{
    overflow: auto;
    width: 100%;
}

.groups-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    
}

.group-avatar{
    width: 100px;
    height: 100px;
}

.create-group-button{
    cursor: pointer;
}