.ticket-title {
    padding: 20px 20px 0px 20px;
    font-size: 14px;
    color: #585286;
}

.ticket-container {
    padding: 20px;
    display: flex;
    height: 90%;

    input {
        background: #211b33;
        height: 30px;
        color: #b8d4f3;
        margin: 10px;
        margin-left: 0;
        border-radius: 3px;
    }
}

.ticket-category {
    width: 30%;
    border-right: 1px solid #585286;
    font-size: 14px;
}

.ticket-search {
    width: 70%;
    height: 100%;
    color: #8a88c3;
    position: relative;
    overflow-y: scroll;
    .ticket-wrapper {
        padding: 0 20px;
    }

    a {
        display: block;
        color: #0898eb;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .request-count {
        font-weight: bold;
        font-size: 12px;
        color: #c2c2c2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sort-filter {
        display: flex;
        align-items: center;

        select {
            display: block;
            background: #211b33;
            height: 32px;
            border: 0;
            color: #b8d4f3;
            padding: 0 20px;
            margin: 0 10px;
            outline: 0;
            width: 100px;
            border-radius: 4px;
            -webkit-appearance: none;
            appearance: none;
            background-repeat: no-repeat;
            background-position-x: 90%;
            background-position-y: 10px;
            background-image: url("../../../assets/svg/chevron-down.svg");
        }
    }

    .ticket-list > div:nth-child(1) {
        margin-top: 10px;
    }

    .ticket-list {
        height: 100%;
        overflow-y: scroll;
        padding-right: 10px;
    }

    .single-query {
        display: flex;
        align-items: center;
        background: #323052;
        padding: 12px;
        border-radius: 4px;
        margin-bottom: 10px;

        .content {
            font-size: 12px;
            color: #8a88c3;
            // margin: 15px;
            // width: 80%;
            // max-width: 360px;

            .query {
                font-weight: bold;
                color: #c2c2c2;
                font-size: 13px;
                margin-bottom: 10px;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
            }

            .description {
                font-weight: normal;
                color: #8a88c3;
                font-size: 13px;
                padding-bottom: 10px;
                // margin: 10px 0;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
            }

            .ticket-user-info {
                border-top: 1px solid #585286;
                display: flex;
                padding-top: 10px;
                align-items: center;
                justify-content: space-between;

                .ticket-user {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 5px;
                    }
                }

                .vibe-rating {
                    display: flex;
                    align-items: center;
                    .emojis {
                        margin-left: 5px;
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }

                .timeposted {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 5px;
                    }
                }

                .ticket-chats {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .query-title {
        font-size: 22px;
        color: #c2c2c2;
        border-bottom: 1px solid #585286;
        padding-bottom: 10px;
        font-weight: bold;
    }

    .voting {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70px;
        justify-content: space-between;
        margin-right: 10px;

        .vote {
            font-weight: 600;
            font-size: 14px;
            color: #7f7eb6;
        }

        .up-vote,
        .down-vote {
            button {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
