.sidebar-buttons {
  position: relative;
  min-width: 70px;
  width: 70px;
  display: flex;
  background: linear-gradient(180deg, #333155 0%, #262036 100%);
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  overflow-y: auto;

  ::-webkit-scrollbar-thumb {
    background: red !important;
    opacity: 0.5;
    border-radius: 8px;
  }

  .button-round {
    background-color: transparent;
    margin: 0 auto;
    padding: 2px 0;
  }
}

.sidebar-logo img {
  position: relative;
  right: 10px;
}

.sidebar-logo::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 12px;
  height: 0;
  width: 65%;
  border-bottom: 2px solid #3f3b60;
}

.action-buttons {
  .button-round {
    margin: 5px auto;
  }
}

.action-buttons::before {
  content: "";
  position: absolute;
  top: 280px;
  left: 12px;
  height: 0;
  width: 65%;
  border-bottom: 2px solid #3f3b60;
}
.action-buttons::after {
  content: "";
  position: absolute;
  bottom: 320px;
  left: 12px;
  height: 0;
  width: 65%;
  border-bottom: 2px solid #3f3b60;
}

.communication-buttons {
  padding-bottom: 20px;
}

.sidebar-expanded {
  overflow: hidden;
  background: linear-gradient(180deg, #272035 0%, #2d2a44 6.7%, #2d2b45 94.1%, #261f34 100%);

  .sidebar-content {
    height: 100%;
    width: 100%;
  }
}

.sidebar-group {
  background-color: #0d081d;
  height: 48px;
  margin: 15px auto;
  width: 48px;
  border-radius: 6px;
}

.open-group {
  width: 48px;
  height: 48px;
  padding: 4px;
  background-image: url("../../../../assets/svg/game-gen.svg");
  background-repeat: no-repeat;
}

.groups > div:nth-child(2) > div {
  background-image: url("../../../../assets/svg/davinci.svg");
}

.groups > div:nth-child(3) > div {
  background-image: url("../../../../assets/svg/mspaint.svg");
}

.closed-group {
  width: 48px;
  height: 48px;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.small-group-icon {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #fff;
}
