.sidebar-buttons {
  min-width: 60px;
  width: 60px;
  display: flex;
  background: #29233d;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;

  .button-round {
    background-color: transparent;
    margin: 0 auto;
    padding: 2px 0;
  }
}

.sidebar-expanded {
  overflow: hidden;
  background: #1c172b;

  .sidebar-content {
    width: 256px;
  }
}
