.video-railOuter {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: -25px;
  height: 22px;
  padding: 11px 0;
  border-radius: 4px;
  background: linear-gradient(180deg, #343358 0%, #2b2641 68.4%);
}

.video-railInner {
  position: absolute;
  width: 100%;
  border-radius: 4px;
  height: 42px;
  top: 38px;
  pointer-events: none;
}

.video-handle-0 {
  background-image: url("../../../../assets/svg/video-handle-left.svg");
  position: absolute;
  transform: translate(-90%, -25px);
  z-index: 5;
  width: 39px;
  height: 130px;
  background-repeat: no-repeat;
  cursor: pointer;
  top: -3px;
}

.video-handle-1 {
  background-image: url("../../../../assets/svg/video-handle.svg");
  position: absolute;
  transform: translate(-50%, -25px);
  z-index: 6;
  width: 46px;
  filter: 0 0 3px #f1205f;
  height: 130px;
  background-repeat: no-repeat;
  cursor: pointer;
  top: -3px;
}

.video-handle-2 {
  background-image: url("../../../../assets/svg/video-handle-right.svg");
  position: absolute;
  transform: translate(-20%, -25px);
  z-index: 5;
  width: 40px;
  height: 130px;
  background-repeat: no-repeat;
  cursor: pointer;
  top: -3px;
}

.video-handle-time {
  font-size: 10px;
  width: auto;
  position: absolute;
  top: -22px;
  background-color: var(--color-background);
  padding: 2px 4px;
  border-radius: 4px;

  &.time-0 {
    margin-left: 4px;
  }

  &.time-1 {
    margin-left: 22px;
    z-index: 10;
  }

  &.time-2 {
    margin-left: 40px;
  }
}

.video-slider {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #9bbfd4;
}

.video-slider-ticks {
  position: relative;
  top: 16px;

  div:last-child  .video-tick {
    display: none;
  }
  
}

.video-track {
  position: absolute;
  height: 75px;
  top: 20px;
  border-radius: 4px;
  z-index: 1;
  background: var(--color-less-rainbow);
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.8;
}

.video-tickPre {
  position: absolute;
  top: 4px;
  width: 1px;
  height: 28px;
  background-color: #3f3e6f;
}

.video-tickPre-small {
  position: absolute;
  top: 4px;
  width: 1px;
  height: 10px;
  background-color: #3f3e6f;
}

.video-tick {
  position: absolute;
  top: 20px;
  margin-left: 8px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  color: var(--color-magenda);
}

.video-video-nav {
  background: var(--color-section);
  margin: 16px;
}

