
$--fontsize1:44;
$--fontsize2:34;
$--fontsize3:24;
$--fontsize4:14;
$--fontsize5:12;
$--fontsize6:10;


:global {
  body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

.nav {
  display: flex;
  list-style: none;
  margin: 0 -0.75em 1.5em;
  padding: 0;
}

.nav li {
  margin: 0 0.75em;
}

.active {
  font-weight: bold;
}
