.help {
    display: flex;
    height: 100%;

    ul {
        margin: 0px;
        padding: 0px;
        padding-left: 25px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    li {
        padding: 12px 12px 12px 0;
        font-weight: bold;
        font-size: 14px;
        color: #8a88c3;

        img {
            float: left;
            margin-right: 10px;
        }
    }

    .progress-step {
        float: right;
    }

    .active {
        color: #c2c2c2;
    }

    input {
        color: #b8d4f3;
    }

    .step-title {
        font-size: 18px;
        font-weight: bold;
        color: #c2c2c2;
        margin-bottom: 15px;
    }
}

.step > span {
    display: block;
    padding: 10px 0;
    color: #c2c2c2;
    font-size: 13px;
}

.help-list {
    width: 300px;
    border-right: 1px solid #585286;
}
.help-steps {
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

.step {
    padding: 25px;
    color: #8a88c3;

    ul {
        list-style: disc;
    }
    li {
        padding: 0;
        font-weight: normal;
        padding: 5px 0;
        color: #8a88c3;
    }

    input[type="checkbox" i] {
        width: 15px;
        height: 15px;
        border-radius: 30px;
        margin-right: 15px;
        margin-top: 10px;
    }

    label {
        color: #8a88c3;
        font-size: 14px;
    }

    textarea {
        margin-top: 15px;
        height: 150px;
    }

    .upload-image {
        height: 150px;
        align-items: center;
        display: flex;
        border-radius: 4px;
        border: 2px dashed #04aff0;

        label {
            margin: auto;
        }
    }

    .skill {
        color: #c2c2c2;
        margin: 25px 0 5px 0;
        font-size: 14px;
        font-weight: 600;

        .single-channel {
            margin: 15px 0;
            width: 170px;
            color: #c2c2c2;
        }

        .channel-container {
            padding: 0;
        }

        .channel-container::after {
            content: "";
            height: 2px !important;
            width: 192px;
            top: 140%;
            position: absolute;
            background-color: #585286;
            transition: 0.4s ease-out all 0.1s;
        }
        .identities {
            width: 215px;
            border-right: 1px solid #585286;
        }

        .progress-button {
            display: flex;
            justify-content: space-between;
            width: 150px;
            background: #323052;
            border-radius: 6px;
            position: relative;
            margin: 0 0 10px 10px;
            padding: 11px 11px 11px 20px;
        }

        .blue-bar {
            background: #04aff0;
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 2px;
            left: 0;
            height: 7px !important;
        }
    }

    .skillset button {
        color: #b8d4f3;
        font-size: 13px;
        margin: 8px 8px 8px 0;
        font-family: Segoe UI;
    }

    select {
        width: 100%;
        display: block;
        background: #211b33;
        height: 40px;
        border: 0;
        color: #b8d4f3;
        margin: 20px 0;
        padding: 0 15px;
        outline: 0;
        border-radius: 4px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 15px;
        background-image: url("../../../assets/svg/chevron-down.svg");
    }
}

.skill > .identities > .progress-button:nth-child(2) {
    margin-top: 35px;
}

.see-more {
    color: #0898eb;
    font-weight: bold;
    padding: 15px 0 10px 0;
    display: block;
}

.help-buttons {
    margin-top: 25px;
    button {
        padding: 10px 42px;
        margin-right: 25px;
        color: #c2c2c2;
        border-radius: 4px;
        background: #323052;

        &:hover {
            cursor: pointer;
        }
    }

    button:last-child {
        background: #0898eb;
        color: #2d2a44;
    }
}
