
.overlay{
  background-color: rgb(187, 187, 187);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-position: center;
  background-size:cover;
  z-index: 5000;

  .imageOverlay{
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }

  .linearProgressContainer{
    display: block;
    position: fixed;
    bottom: 20%;
    // top: 25%;
    width: 60%;
    left: 20%; 
    @media (max-width: 768px) {
      width: 80%;
      left: 10%; 
    }  
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .loadingProgressInfo{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 2em;
      // font-size: 0.7em;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }
}