.item-container {
  background-color: var(--color-section-inner);
  height: 32px;
  border-radius: 24px;
  margin: 4px 0px;
  padding: 4px;
  display: flex;

  .item-icon {
    width: 32px;
    height: 32px;
    margin: auto 8px auto 2px;
    border-radius: 16px;
    background-color: white;
  }

  .item-titles {
    font-size: 14px;
    line-height: 16px;

    .item-title {
    }

    .item-sub {
      opacity: 0.6;
    }  
  }
  
  .item-social {
    align-self: center;
    margin-left: auto;
    display: flex;
    align-items: center;
  
    .item-rating {
      margin-right: 4px;
    }
  
    .item-share {
      margin-right: 4px;
    }
  
    .item-checked {
      margin-right: 4px;
    }
  }
}
