@import '../misc.scss';

.item-icon {
  grid-area: icon;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--color-section);
  background-size: cover;
  background-position: center;
}

.item-container {
  background-color: var(--color-section);
  min-height: 32px;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 10px;
  display: grid;
  gap: 8px;
  grid-template-columns: 32px auto auto;
  grid-template-rows: 32px;
  grid-template-areas: "icon title score";
  @include animated;

  &.can-hover {
    cursor: pointer;
  }

  &.can-hover:hover {
    background-color: var(--color-background-hover);
  }

  &.text {
    grid-template-rows: 32px auto;
    grid-template-areas:
      "icon title score"
      "text text text";
  }

  &.controls {
    grid-template-rows: 32px auto auto;
    grid-template-areas:
      "icon title score"
      "text text text"
      "control control control";
  }

  .item-titles {
    grid-area: title;
    line-height: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .item-title {
      color: var(--color-text-active);
      font-size: 16px;
    }

    .item-sub {
      font-size: 14px;
      opacity: 0.6;
    }
  }

  .item-text {
    grid-area: text;
    font-size: 14px;
  }

  .item-social {
    grid-area: control;
    align-self: center;
    margin-left: auto;
    display: flex;
    align-items: center;

    .item-rating {
      margin-right: 4px;
    }

    .item-share {
      margin-right: 4px;
    }

    .item-checked {
      margin-right: 4px;
    }
  }

  .item-points {
    height: 32px;
    border-radius: 4px;
    background-color: var(--color-icon);
    color: var(--color-background);
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    width: fit-content;
    padding: 0 8px;
    margin-left: auto;

    &.green {
      background-color: var(--color-green);
    }

    &.red {
      background-color: var(--color-red);
    }
  }
}
