@import "../misc.scss";

.container-top-big {
  gap: 8px;
  display: grid;
  grid-template-columns: 50px auto auto;
  grid-template-rows: 32px minmax(16px, auto);
  grid-template-areas:
    "icon title score"
    "icon text text";
  
  .item-icon {
    width: 100%;
    height: 100%;
  }
}

.item-icon {
  grid-area: icon;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--color-section);
  background-size: cover;
  background-position: center;
}

.item-container {
  display: grid;
  gap: 8px;
  background-color: var(--color-section);
  min-height: 32px;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 10px;

  .container-top {
    grid-template-columns: 32px auto auto;
    grid-template-rows: 32px;
    grid-template-areas: "icon title score";
    gap: 8px;
    display: grid;
  }

  .container-bottom {
    grid-template-columns: 32px auto 32px;
    grid-template-rows: 32px;
    grid-template-areas: "check fill share";
    gap: 8px;
    display: grid;
  }

  .container-flex {
    display: flex;
  }

  @include animated;
  @include disable-select;

  &.can-drag {
    background-image: url(../../../assets/images/drag.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 5px;
    padding-left: 22px;
  }

  &.can-hover {
    cursor: pointer;
  }

  &.can-hover:hover {
    background-color: var(--color-background-hover);
  }

  .item-titles {
    grid-area: title;
    line-height: 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .item-title {
      color: var(--color-text-active);
      font-size: 16px;
    }

    .item-sub {
      font-size: 14px;
      opacity: 0.6;
    }
  }

  .item-text {
    grid-area: text;
    font-size: 14px;
  }

  .item-social {
    grid-area: control;
    align-self: center;
    margin-left: auto;
    display: flex;
    align-items: center;

    .item-rating {
      margin-right: 4px;
    }

    .item-share {
      margin-right: 4px;
    }

    .item-checked {
      margin-right: 4px;
    }
  }

  .item-points {
    height: 32px;
    border-radius: 4px;
    background-color: var(--color-icon);
    color: var(--color-background);
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    width: fit-content;
    padding: 0 8px;
    margin-left: auto;

    &.green {
      background-color: var(--color-green);
      box-shadow: 0px 0px 8px 0px var(--color-green);
    }

    &.red {
      background-color: var(--color-red);
      box-shadow: 0px 0px 8px 0px var(--color-red);
    }
  }

  .item-image {
    margin: 8px 0 0 0;
    border-radius: 5px;
    overflow: hidden;

    img {
      margin-bottom: 8px;
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: center;
    }
  }
}
