.headerContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDDDD;
    align-items: center;
}