.chat-and-channels-title {
    padding: 20px 20px 0 25px;
    color: #585286;
    font-size: 16px;
}

.chat-and-channels-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chat-with-title-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    background: #211b33;
    font-size: 14px;
    color: #b8d4f3;
    margin: 20px;

    .chats {
        overflow-y: scroll;
        // height: calc(85vh - 220px);
        height: calc(86vh - 250px);
    }

    .user {
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 55%;
    }

    .info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        justify-content: space-between;
    }

    .timestamp {
        color: #585286;
        font-size: 11px;
    }

    .avatar {
        float: left;
        margin-right: 10px;
        height: 30px;
        width: 30px;
        border-radius: 4px;
    }

    .single-chat {
        padding: 1em;
    }

    .chat-input {
        padding: 1em;
        border-radius: 3px;
        position: relative;
        display: flex;
        justify-content: space-between;

        input {
            background: #2b2641;
            font-size: 14px;
            color: #b8d4f3;
        }

        svg {
            position: absolute;
            right: 20px;
        }
    }
}
