.chat-container {
    background: #232323;
    padding: 0 1em;
    width: 60%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

    textarea {
        min-height: 28px !important;
        color: #b8d4f3;
        background: #363740;
        font-size: 14px;
        font-family: "Segoe UI";
        resize: none !important;
        margin-bottom: 25px;
    }

    .button-simple {
        background: #87858d;
        position: absolute;
        right: 24px;
        bottom: 20px;
    }

    .message-text {
        color: #b8d4f3;
        font-family: "Segoe UI";
        font-size: 14px;
    }
}
