.tipsandtricksContainer{
    display: flex;
    flex-direction: column;
    
    .tipItem{
        width: 100%;
        .previewImage{
            height: 250px;
        }
        .tipsTitle{
            font-weight: bold;
        }
    }
}