.transparent-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.solid-container {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border: 1px solid rgb(45, 45, 45);
}

.top-bar {
  height: 24px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -webkit-app-region: drag;
  font-size: 14px;
  line-height: 24px;
  display: flex;

  .name {
    padding-left: 8px;
    margin-right: auto;
  }

  .buttons {
    display: flex;
    -webkit-app-region: no-drag;
    text-align: center;
    line-height: 24px;

    .minimize {
      width: 34px;
      height: 100%;
      display: flex;
    }

    .maximize {
      width: 34px;
      height: 100%;
      display: flex;
    }

    .close {
      width: 34px;
      height: 100%;
      display: flex;
    }

    .minimize:hover,
    .maximize:hover {
      background-color: var(--color-button);
    }

    .close:hover {
      background-color: var(--color-red);
    }
  }
}

.main-container {
  width: calc(100% - 10px);
  height: calc(100% - 24px);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 160px;
  grid-template-areas: "edit" "nav";
  grid-gap: 5px;
  padding: 5px;

  .edit {
    display: flex;
    grid-area: edit;
    overflow: auto;

    .creator {
      min-width: 300px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--color-section);
    }

    .anchor-edit {
      min-width: 300px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--color-section);
    }

    .preview {
      width: auto;
      flex-grow: 2;
      margin-left: 5px;
      background-color: var(--color-background-dark);
      overflow: hidden;
    }
  }

  .nav {
    grid-area: nav;
    background-color: var(--color-section);
  }
}

.click-on {
  pointer-events: all;
}
/*
.click-through {
  pointer-events: none;
}
*/

.name {
  padding-left: 8px;
  margin-right: auto;
}

.window-container {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;

  .title-bar {
    font-size: 14px;
    line-height: 24px;
    padding-left: 8px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;

    .close {
      margin-left: auto;
      display: flex;
      width: 24px;
      height: 100%;
      cursor: auto;
    }

    .close:hover {
      background-color: var(--color-red);
    }
  }
}
