.group-settings{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.settings-content-container{
    display: flex;
    flex-direction: row;
}

.group-settings, .settings-content-container, .left-container{
    margin: 10px;
}