// .infoBoxContainer{
    .dialogTitle{
        h2{
            flex-grow: 1;
        }
    }
// }
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     width: max-content;
//     height: max-content;
//     overflow-y: auto;
//     padding: 1em;
//     background-color: rgba(255, 255, 255, 0.8);
//     border-radius: 5px;
//     color: #000000;

//     h6{
//         text-align: center;
//         text-transform: uppercase;
//         padding: 5px 45px 5px 5px;
//     }

    // .dialogCloseButton{
    //     position: absolute;
    //     right: 5px;
    //     top: 0px;
    //     z-index: 5;
    //     cursor: pointer;
    //     color: #FFFFFF;
    // }
//     // .buttonsContainer{
//     //     text-align: center;
//     //     button{
//     //         margin: 10px;
//     //     }
//     // }

//     @media  (max-width: 768px) {
//         width: 90%;        
//     }
//     .iframe{
//         width: 100%;
//         height: 100%;
//     }
// }