@mixin find-boxes {
  &.anchor {
    background-color: #f047470d;
    border: dotted var(--color-red) 3px;
  }

  &.area {
    background-color: #47a3ff17;
    border: dotted var(--color-blue) 3px;
  }

  &.mouse {
    background-image: url("../../../../assets/images/mouse-area-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.rectangle {
    background-color: #47a3ff17;
    border: solid var(--color-blue) 3px;
  }
}

.example-box {
  margin: auto;
  width: 48px;
  height: 48px;

  @include find-boxes;
}

.find-box {
  position: absolute;
  display: flex;

  @include find-boxes;
}