@mixin find-boxes {
  &.anchor {
    background-color: #f047470d;
    border: dotted var(--color-red) 3px;
  }

  &.area {
    background-color: #47a3ff17;
    border: dotted var(--color-blue) 3px;
  }

  &.mouse {
    background-image: url("../../../../assets/images/mouse-area-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation: mouse-glow 3s infinite ease-in-out;
    animation: mouse-glow 3s infinite ease-in-out;
    filter: brightness(1);
  }

  &.rectangle {
    box-shadow: var(--color-blue) 0px 0px 13px 1px;
    border-radius: 4px;
    background-color: #ffffff00;
    border: solid var(--color-blue) 3px;
  }
}

@-webkit-keyframes mouse-glow {
  0%, 100% { background-size: 100% }  
  50% { background-size: 66% }
}
  
@keyframes mouse-glow {
  0%, 100% { 
    filter: brightness(1.3);
    background-size: 120%;
  }  50% { 
    filter: brightness(1);
    background-size: 66%;
  }
}

.example-box {
  margin: auto;
  width: 48px;
  height: 48px;

  @include find-boxes;
}

.find-box {
  position: absolute;
  display: flex;
  box-sizing: border-box;

  @include find-boxes;
}