.desc-authoring-grid {
  display: grid;
  grid-template-columns: 36px auto;
  gap: 4px;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "icon title"
    "purpose purpose"
    "tags tags"
    "media media";
}

.insert-images-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  grid-template-rows: auto;
}