.support-menu-goback {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #8a88c3;
  border-radius: 6px;
  margin-bottom: 8px;
  background: #323052;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

  svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  &:hover {
    background: #222138;
  }
}
