.anchor-commands-container {
  display: flex;
  bottom: 0;
  position: absolute;
  right: 0;
  height: 32px;
  width: 100px;
  justify-content: space-evenly;
  background: #585286;
  border-radius: 6px 0;
  align-items: center;

  .button {
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}
