.custom-dialog{
  .MuiBackdrop-root{
    background: transparent;
  }
}
.MuiPaper-root{
  font-size: 1em;

  .dialogTitle {
    margin: 0;
    padding: 10px;
  
    .dialogCloseButton {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2000;
    }
  }
  
  .dialogContent {
    padding-bottom: 40px;
    text-align: center;
    .innerText{
      padding: 10px 0;
    }
  }
}